@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are Beautiful! Love Love love </h1>
    <p>You are amazing. Believe it! You deserve many things, follow them.</p>
</div>
