@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You are Beautiful! Love Love love </h1>
    <p>Find Us on <a href="https://facebook.com/jasdyusa/">facebook.com/jasdyusa</a>.</p>
    <p>Find Us on <a href="https://instagram.com/jasdyusa/">instagram.com/jasdyusa</a>.</p>
</div>
